{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KFC</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="{% static 'css/grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-free-6.6.0-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons/themify-icons.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/Capture.PNG' %}">
</head>

<body>

    <div class="main">
        <div class="header">
            <div class="grid wide">
                <div class="header__line">
                    <div class="logo">
                        <a class="logo_a" href="./dashboard.html">
                            <img src="{% static 'images/logo.png'%}" alt="logo">
                        </a>
                    </div>


                    <ul class="navbar__list">
                        <li class="navbar__link ">
                            <a href="./dashboard.html" class="navbar__click-link">Trang chủ</a>
                            <div class="line"></div>
                        </li>
                        <li class="navbar__link active">
                            <a href="./work_sheet.html" class="navbar__click-link">Bảng công</a>
                            <div class="line"></div>
                        </li>
                        <li class="navbar__link">
                            <a href="./register.html" class="navbar__click-link">Đăng kí ca làm</a>
                            <div class="line"></div>
                        </li>
                        <li class="navbar__link ">
                            <a href="./calender.html" class="navbar__click-link">Lịch làm việc</a>
                            <div class="line"></div>
                        </li>
                        <li class="navbar__link">
                            <a href="#" class="navbar__click-link">Cài đặt</a>
                            <div class="line"></div>
                        </li>


                    </ul>


                    <div class="infor">
                        <div class="notify">

                            <a class="notify__logo " href="#">
                                <i class="fa-solid fa-bell"></i>
                            </a>
                            <div class="notify__dot">
                                17
                            </div>
                        </div>
                        <div class="profile">
                            <img src="{% static 'images/profile_2.PNG' %}" alt="profile picture">
                            <div class="profile__down">
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <div class="subnav__list">
                                <div class="subnav__content">
                                    <a href="#" class="subnav__link">Thay đổi mật khẩu</a>
                                </div>
                                <div class="subnav__content">
                                    <a href="#" class="subnav__link">Đăng xuất</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- container -->
        <div class="container grid wide">
                <div class="row no-select sm-gutter">
                    <div class="col l-8 ">
                        <div class="table-container">
                            <div class="table__header ">
                                <div class="header__title text_m">Bảng giờ công</div>
                                <div class="header_option">
                                    <span class="header__btn">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </span>
                                    <div class="header__time">Tháng 8 / 2024</div>
                                    <span class="header__btn">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </span>

                                </div>
                            </div>
                            <table class="calender__table">
                                <thead class="calender-header">
                                    <tr>
                                        <th rowspan="2">Ngày</th>
                                        <th rowspan="2">Thứ</th>
                                        <th colspan="5">Thời gian làm việc</th>
                                        <th colspan="2">Giờ làm</th>
                                        <th colspan="2">Tăng ca</th>
                                    </tr>
                                    <tr>
                                        <th>Ca</th>
                                        <th>Từ</th>
                                        <th>Nghỉ</th>
                                        <th>Vào</th>
                                        <th>Đến</th>
                                        <th>Tổng</th>
                                        <th>Đêm</th>
                                        <th>Tổng</th>
                                        <th>Đêm</th>
                                    </tr>
                                    
                                </thead>
                                <tbody class="calender-body">
                                    
                                    <tr>
                                        <td>1</td>
                                        <td>T5</td>
                                        <td>W</td>
                                        <td>9:30</td>                                        
                                        <td>10:30</td>
                                        <td>12:30</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"> <i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"> <i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"> <i class="fa-solid fa-chevron-down"></i></td>
                                       
                                       
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>T5</td>
                                        <td>O</td>
                                        <td>10:30</td>
                                        <td>12:30</td>
                                        <td>13:00</td>
                                        <td>16:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>T5</td>
                                        <td>W</td>
                                        <td>10:30</td>
                                        <td>12:30</td>
                                        <td>13:00</td>
                                        <td>16:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>T5</td>
                                        <td>W</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>T5</td>
                                        <td>O</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>T5</td>
                                        <td>W</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>T5</td>
                                        <td>O</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>T5</td>
                                        <td>W</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>T5</td>
                                        <td>O</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>T5</td>
                                        <td>W</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>T5</td>
                                        <td>O</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>T5</td>
                                        <td>W</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>T5</td>
                                        <td>O</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>T5</td>
                                        <td>W</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>T5</td>
                                        <td>O</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>T5</td>
                                        <td>W</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>T5</td>
                                        <td>O</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td>T5</td>
                                        <td>W</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td>T5</td>
                                        <td>O</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>T5</td>
                                        <td>W</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>21</td>
                                        <td>T5</td>
                                        <td>O</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr><tr>
                                        <td>22</td>
                                        <td>T5</td>
                                        <td>W</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>23</td>
                                        <td>T5</td>
                                        <td>O</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr><tr>
                                        <td>24</td>
                                        <td>T5</td>
                                        <td>W</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>25</td>
                                        <td>T5</td>
                                        <td>O</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr><tr>
                                        <td>26</td>
                                        <td>T5</td>
                                        <td>W</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>27</td>
                                        <td>T5</td>
                                        <td>O</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr><tr>
                                        <td>28</td>
                                        <td>T5</td>
                                        <td>W</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>29</td>
                                        <td>T5</td>
                                        <td>O</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr><tr>
                                        <td>20</td>
                                        <td>T5</td>
                                        <td>W</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                    <tr>
                                        <td>31</td>
                                        <td>T5</td>
                                        <td>O</td>
                                        <td>9:30</td>                                        
                                        <td>.</td>
                                        <td>.</td>
                                        <td>13:00</td>
                                        <td>6.5</td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        <td class="no__infor"><i class="fa-solid fa-chevron-down"></i></td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                      
                    </div>
                    <div class="col  l-4 ">
                        <div class="table-container">
                            <div class="table__header register">
                                <div class="header__title register">Chấm công </div>
                                <div class="header_option">
                                    <span class="header__btn">
                                        <i class="fa-solid fa-chevron-left"></i>
                                    </span>
                                    <div class="header__time">Tháng 8 / 2024</div>
                                    <span class="header__btn">
                                        <i class="fa-solid fa-chevron-right"></i>
                                    </span>

                                </div>
                            </div>
                            <table class="calender__table register">
                                <tbody class="calender-body register">
                                    
                                    <tr>
                                        <td>1</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>21</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr><tr>
                                        <td>22</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>23</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr><tr>
                                        <td>24</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>25</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr><tr>
                                        <td>26</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>27</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr><tr>
                                        <td>28</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>29</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr><tr>
                                        <td>20</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                    <tr>
                                        <td>31</td>
                                        <td>T5</td>
                                        <td class="register__time">15:54:01; 22:49:22</td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                      
                    </div>
                </div>
            </div>

           


        </div>
    </div>

    </div>
</body>

</html>